#mainInfoSection {
    padding: 40px 0px;

    .container {
        .row {

            .ftco-service-image {
                display: flex;
                justify-content: center;
                align-items: center;

                .main-item {
                    .service {
                        a {
                            color: #292929;
                            text-decoration: none;
                            background-color: transparent;
                           

                            img {
                                width: 326px !important;
                                height: 216.79px !important;
                                border-radius: 8px;
                                margin-bottom: 30px;
                                transition: .3s all ease-in-out;
                            }
                        }

                        div {
                            h3 {
                                font-size: 1.4rem;
                                margin-bottom: 0.5rem;
                                font-weight: 500;
                                line-height: 1.2;

                                a {
                                    transition: .3s all ease;
                                    color: #292929;
                                    text-decoration: none;
                                    background-color: transparent;
                                }
                            }

                            p {
                                color: #999999;
                                margin-top: 0;
                                margin-bottom: 1rem;
                                line-height: 1.7;
                                font-weight: 400;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }

    }
}